/* ===============================
   ABOUT OVERVIEW SECTION
================================ */
.channel-partners-overview-full {
      position: relative;
    width: 100vw;
    min-height: 80vh;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("https://media-production.lp-cdn.com/cdn-cgi/image/format=auto,quality=85,fit=scale-down,width=1280/https://media-production.lp-cdn.com/media/nflpcyk6g58gopdgq1nk");
    /* update path */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    align-items: center;
    /* move to bottom */
    justify-content: center;
    padding-bottom: 0px;


}

/* WHITE CONTENT BOX */
.channel-partners-content-box {
    /* background: #ffffff; */
    max-width: 900px;
    padding: 50px;
    text-align: center;

}

.channel-partners-content-box h2 {
    font-family: var(--font-heading);
    font-size: clamp(2rem, 4vw, 2.8rem);
    margin-bottom: 1rem;
    font-weight: 500;
    color: #fff;
}

.channel-partners-content-box p {
    color: #fff;
    line-height: 1.7;
}

/* MOBILE FIX */
@media (max-width: 991px) {
    .channel-partners-overview-full {
        justify-content: center;
        padding: 40px 20px;
    }

    .channel-partners-content-box {
        max-width: 100%;
        padding: 30px;
    }

    .channel-partners-content-box h2 {
        font-size: 28px;
    }
}

