.container {
  width: 90%;
  max-width: 85rem;
  margin-inline: auto;
}

/* ================= HEADER ================= */
/* RESET SAFETY */


html,
body {
  overflow-x: hidden;
}

   
/* HEADER */
.simple-header {
  width: 100%;
  opacity: 95%;
  background-color: rgba(21,21,21,.7);
  transition: transform 0.2s ease;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.simple-nav {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.menu-left {
  justify-content: flex-start;
}

.menu-right {
  justify-content: flex-end;
}

.simple-logo {
  display: flex;
  justify-content: center;
}

.simple-logo img {
  max-width: 140px;
}


/* DESKTOP MENU */
.simple-menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.simple-menu a {
  text-decoration: none;
  font-size: 0.75rem;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  color: #ffffff;
  padding-bottom: 6px;
}

/* Underline */
.simple-menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* Hover effect */
.simple-menu li a:hover::after {
  transform: scaleX(1);
 
}

/* HAMBURGER */
/* PREMIUM HAMBURGER */
.simple-toggle {
  width: 28px;
  height: 18px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.simple-toggle span {
  width: 100%;
  height: 2px;
  background: #ffffff;
  border-radius: 4px;
  transition: all 0.3s ease;
}

@media (hover: hover) {
  .simple-toggle:hover span:nth-child(2) {
    width: 70%;
  }
}

/* HAMBURGER TO CROSS ANIMATION */
.simple-toggle.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.simple-toggle.active span:nth-child(2) {
  opacity: 0;
}

.simple-toggle.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Smooth animation */
.simple-toggle span {
  transition: transform 0.35s ease, opacity 0.25s ease;
}

/* MOBILE MENU */
.simple-mobile-menu {
  position: fixed;
  inset: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 0 30px rgba(0, 0, 0, 0.12);
  transform: translateX(-100%);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.4s ease;
  z-index: 1100;
}

.simple-mobile-menu.open {
  transform: translateY(0);
}

.simple-mobile-menu ul {
  list-style: none;
  width: 100%;
  text-align: center;
}

.simple-mobile-menu li {
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
    transform: translateX(-20px);
  transition: all 0.3s ease;

}

.simple-mobile-menu.open li {
  opacity: 1;
  transform: translateX(0);
}

.simple-mobile-menu.open li:nth-child(1) { transition-delay: 0.1s; }
.simple-mobile-menu.open li:nth-child(2) { transition-delay: 0.15s; }
.simple-mobile-menu.open li:nth-child(3) { transition-delay: 0.2s; }
.simple-mobile-menu.open li:nth-child(4) { transition-delay: 0.25s; }

.simple-mobile-menu a {
  text-decoration: none;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  color: #111;
}

/* CLOSE */
.simple-close {
  position: absolute;
  top: 0rem;
  right: 1.0rem;
  font-size: 4rem;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .simple-toggle {
    display: flex;
    
  }
}

@media (max-width: 768px) {

  .simple-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .simple-logo {
    display: flex;
    align-items: center;
  }

  .simple-toggle {
    display: flex;
    align-items: center;
  }

  .simple-toggle span {
    background: #ffffff;
  }
}



/* FOOTER */
.footer {
  background-color: #0f0f0f;
  padding: 20px 0;
  color: #cfcfcf;
  font-size: 14px;
  font-family: "Lato", sans-serif;

}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  font-weight: 400;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-right a {
  color: #cfcfcf;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-right a:hover {
  color: var(--secondary-color);
  /* premium hover */
}

.footer-right .divider {
  opacity: 0.4;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}